body {
  background-color: #313947;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 96px;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.left-modal,
.right-modal {
  padding: 32px;
}

.left-modal {
  position: relative;
}

h1 {
  color: white;
  font-family: Silkscreen, Times New Roman, Arial, sans-serif;
  font-size: 48px;
}

.button-ui {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

button {
  background: none;
  border: 2px solid white;
  color: white;
  font-family: Silkscreen, Times New Roman, Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding: 16px 0;
  width: 50%;
  transition: background-color 200ms ease-in-out;
}

button:hover:not(.rainbow-text) {
  background-color: white;
  color: black;
  cursor: pointer;
}

.rainbow-text:hover {
  background-color: white;
  cursor: pointer;
}

.eye-container {
  position: absolute;
  top: -96px;
  left: 128px;
  z-index: 10;
}

.left-eye {
  height: 48px;
  left: 35px;
  position: absolute;
  top: 64px;
  width: 48px;
}

.right-eye {
  height: 48px;
  left: 155px;
  position: absolute;
  top: 64px;
  width: 48px;
}

.letter-r {
  color: red;
}

.letter-a {
  color: orange;
}

.letter-i {
  color: yellow;
}

.letter-n,
.letter-e {
  color: greenyellow;
}

.letter-b,
.letter-d {
  color: lightgreen;
}

.letter-o {
  color: lightskyblue;
}

.letter-w {
  color: plum;
}

.letter-m {
  color: plum;
}

span {
  text-shadow:  1px 1px black,
                2px 2px black,
                3px 3px black;
}

.grid-container {
  background-color: white;
  /* border: 3px white solid; */
  display: grid;
  grid-template-rows: 32px;
  grid-template-columns: 32px;
  grid-auto-columns: 3;
  grid-auto-rows: 4;
  height: 768px;
  width: 768px;
}

.grid-item {
  user-select: none;
}

.one {
  grid-column: 1/1;
}

.two {
  grid-column: 2/2;
}

.three {
  grid-column: 3/3;
}

.four {
  grid-row: 3/3;
  grid-column: 3/3;
}

.active {
  background: white;
  color: black; 
}

.wrapper span {
  color: white;
  font-family: Silkscreen, Times New Roman, Arial, sans-serif;
  font-size: larger;
  padding-right: 4px;
  text-shadow: none;
}

input[type=color] {
  border: none;
  background: none;
  height: 220px;
  width: 220px;
  position: absolute;
  left: -10px;
  top: -10px;
}

input[type=color]:hover {
  cursor:pointer;
}

.color-wrapper {
  overflow: hidden;
  position: relative;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 2px solid white;
  transition: transform 300ms;
}

.color-wrapper:hover {
  transform: scale(1.1);
}